<section class="icons-container">

    <div class="icons">
        <i class="fa fa-star"></i>
        <h3>Досвід</h3>
        <p>Більш ніж 10 річний досвід роботи</p>
    </div>

    <div class="icons">
        <i class="fa fa-shield-alt"></i>
        <h3>Безпека</h3>
        <p>Гарантія безпеки всіх процедур</p>
    </div>

    <div class="icons">
        <i class="fa fa-map"></i>
        <h3>Локація</h3>
        <p>Зручне розташування в центрі Львова</p>
    </div>

    <div class="icons">
        <i class="fa fa-clock"></i>
        <h3>Час</h3>
        <p>Ми цінуємо Ваш час</p>
    </div>

</section>
